@model IEnumerable<_3900_Civionics.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Projects</h2>
@if (User.Identity.Name == "admin")
{
   <p>
    @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if(User.Identity.Name == "admin")
    {  
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @if (User.Identity.Name == "admin")
                {
                    @Html.ActionLink("Edit Permissions", "Edit", new { id=item.ID })
                    <text>&nbsp;&#124;&nbsp;</text>
                }
            
                @Html.ActionLink("Details", "Details", new { id=item.ID })

                @if (User.Identity.Name == "admin")
                {
                    <text>&nbsp;&#124;&nbsp;</text>
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                }
            </td>
        </tr>
    }
}

</table>
