@model Civionics.Models.Reading

@{
    /// <summary>
    /// File: ChartDisplay.cshtml
    /// 
    /// Created by: Sanders Lee
    ///             Lewis Scott
    /// 
    /// Description:
    ///     Displays the data in a chart/graph format,
    ///     also highlights abnormal data points in red.
    ///     The description of the sensor involved is written to the top of the page.
    /// </summary>
    
    ViewBag.Title = "ChartDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Sensor Readings - Chart</title>
</head>

<body>
    <h3>Project: <b>@ViewData["projectname"]</b> / Serial #: <b>@ViewData["sensorserial"]</b> / Type: <b>@ViewData["type"]</b> / Site: <b>@ViewData["site"]</b></h3>

    <h4>Minimum Acceptable Reading: <b>@ViewData["min"]@ViewData["units"]</b> / Maximum Acceptable Reading: <b>@ViewData["max"]@ViewData["units"]</b></h4>

    <div class="row-fluid">
        Number of most recent entries: <input type="text" name="newnum" id="newnum" class="inline">
        <button id="gobut" class="btn btn-default">Go</button>
        @Html.ActionLink("Back to List", "../Sensor/List/" + (string)Convert.ToString(ViewBag.projectid), null, new { @class = "btn btn-default" })
    </div>

    <script>
        // user sets the number of most recent entries
        var myBtn = document.getElementById('gobut');
        myBtn.addEventListener('click', function (event) {
            if ((!isNaN($('#newnum').val())) && ($('#newnum').val() > 0))
            {
                var newImage = document.getElementById("img");
                newImage.src = newImage.src + "/../" + $('#newnum').val();
            }
        });
    </script>

    <br />

    @{
        // gets the graph of a sensor's data and displays it
        string img_src_path = "../Chart/" + Convert.ToString(ViewBag.sensorid) + "/5";
        <img id="img" src=@img_src_path />
    }
    
</body>