@model IEnumerable<Civionics.Models.Reading>

@{
    ViewBag.Title = "Readings";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Sensor Readings - Table</title>
</head>

<body>
    <h2>Project: <b>@ViewData["projectname"]</b> / Serial #: <b>@ViewData["sensorserial"]</b> / Type: <b>@ViewData["type"]</b> / Site: <b>@ViewData["site"]</b></h2>
    <br />
    <h4>Minimum Acceptable Reading: <b>@ViewData["min"]@ViewData["units"]</b> / Maximum Acceptable Reading: <b>@ViewData["max"]@ViewData["units"]</b></h4>
    <table class="table">
        <tr>
            <th>
                Reading ID
            </th>
            <th>
                Logged Time
            </th>
            <th>
                Data (in @ViewData["units"])
            </th>
            <th>
                Is Anomalous
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @if(item.isAnomalous)
                    {
                        <img src="../../Image/Get/red-orb" width="20" height="20" />
                    }
                    else
                    {
                        <img src="../../Image/Get/green-orb" width="20" height="20" />
                    }
                </td>
            </tr>
        }
    </table>
</body>