@model IEnumerable<Civionics.Models.Reading>

@{
    /// <summary>
    /// File: Table.cshtml
    /// 
    /// Created by: Sanders Lee
    /// 
    /// Modified by: Lewis Scott
    /// 
    /// Description:
    ///     Displays the data in a table format,
    ///     also gives abnormal data a red light.
    ///     The description of the sensor involved is written to the top of the page.
    /// </summary>

    ViewBag.Title = "Readings";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Sensor Readings - Table</title>
</head>

<body>
    <h3>Project: <b>@ViewData["projectname"]</b> / Serial #: <b>@ViewData["sensorserial"]</b> / Type: <b>@ViewData["type"]</b> / Site: <b>@ViewData["site"]</b></h3>
    <h4>Minimum Acceptable Reading: <b>@ViewData["min"]@ViewData["units"]</b> / Maximum Acceptable Reading: <b>@ViewData["max"]@ViewData["units"]</b></h4>
    
    <div class="row-fluid">
        Number of entries: <input type="text" name="newnum" id="newnum" class="inline">
        <button id="gobut" class="btn btn-default">Go</button>
        @Html.ActionLink("Back to List", "../Sensor/List/" + (string)Convert.ToString(ViewBag.projectid), null, new { @class = "btn btn-default" })
    </div>

    <br />

    <script>
        var myBtn = document.getElementById('gobut');
        myBtn.addEventListener('click', function (event) {
            if (!isNaN($('#newnum').val()))
            {
                window.location = "../" + @ViewData["sensorid"] + "/" + $('#newnum').val();
            }
        });
    </script>

    <table class="table">
        <tr>
            <th>
                Reading ID
            </th>
            <th>
                Logged Time
            </th>
            <th>
                Data (in @ViewData["units"])
            </th>
            <th>
                Is Anomalous
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoggedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @if (item.isAnomalous)
                    {
                        <img src="../../../Image/Get/red-orb" width="20" height="20" />
                    }
                    else
                    {
                        <img src="../../../Image/Get/green-orb" width="20" height="20" />
                    }
                </td>
            </tr>
        }
    </table>
</body>