@model Civionics.Models.Sensor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Sensor</h2>

@if (User.Identity.Name == "admin")
{
    <p>
        @Html.ActionLink("New Sensor Type", "New_Type", null, new { @class = "btn btn-default" })
    </p>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sensor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TypeID, "TypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TypeID", (SelectList)ViewBag.typeselect, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteID)
                @Html.ValidationMessageFor(model => model.SiteID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinSafeReading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinSafeReading)
                @Html.DisplayFor(model => model.Type.Units)
                @Html.ValidationMessageFor(model => model.MinSafeReading)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxSafeReading, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxSafeReading)
                @Html.ValidationMessageFor(model => model.MaxSafeReading)
                @Html.HiddenFor(m => m.ProjectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoRange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutoRange)
                @Html.ValidationMessageFor(model => model.AutoRange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoPercent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutoPercent)
                @Html.ValidationMessageFor(model => model.AutoPercent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "List/" + (string)ViewBag.projectid, null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

