@model IEnumerable<Civionics.Models.Sensor>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Sensors</h2>

@if (User.Identity.Name == "admin")
{
    <p>
        @Html.ActionLink("Add New", "Create", new {id = ViewBag.projectid}, new {@class = "btn btn-default"})
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ID.ToString(), "../Reading/List", new { id = item.ID }, new { @class = "btn btn-default" })
            </td>
            <td>
                @if (item.Status == Civionics.Models.SensorStatus.Alert)
                {
                    <img src="../../Image/Get/red-orb" width="20" height="20" />
                }
                else if (item.Status == Civionics.Models.SensorStatus.Warning)
                {
                    <img src="../../Image/Get/yellow-orb" width="20" height="20" />
                }
                else
                {
                    <img src="../../Image/Get/green-orb" width="20" height="20" />
                }
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteID)
            </td>
            <td>
                @if (User.Identity.Name == "admin")
                {
                    @Html.ActionLink("Settings", "Edit", new { id = item.ID })
                    
                    <text>&nbsp;&#124;&nbsp;</text>
                    
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>

